<div class="container-fluid">
   <div class="row">
        <div class="about-video-section">
            <div class="col-md-7 col-md-offset-1">
                <div class="home-video-section">
                    <div class="home-video-container">
                        <videogular>
                            <vg-media vg-src="config.sources"></vg-media>
                            <vg-controls vg-autohide="config.plugins.controls.autoHide" vg-autohide-time="config.plugins.controls.autoHideTime">
                                <vg-play-pause-button></vg-play-pause-button>
                                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                                <vg-scrub-bar>
                                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                </vg-scrub-bar>
                                <vg-time-display>{{ timeLeft | date: 'mm:ss' }}</vg-time-display>
                                <vg-volume>
                                    <vg-mute-button></vg-mute-button>
                                    <vg-volume-bar></vg-volume-bar>
                                </vg-volume>
                                <vg-fullscreen-button></vg-fullscreen-button>
                            </vg-controls>
                            <vg-poster vg-url='config.plugins.poster'></vg-poster>
                        </videogular>
                    </div>
                    <!-- end of home video container -->
                </div>
                <!-- end of home video section -->
                <div class="about-description-container">
                    <div ng-bind-html="aboutDescription | to_trusted" class="about-description"></div>
                </div>
            </div>
            <!-- end of col-md-10 -->
            <div class="col-md-4 about-ad-sect">
                <div class="skyscraper-container">
                    <a ng-href="{{skyscraperAdUrl}}">
                        <img ng-src="{{skyscraperAdImage}}" alt="">
                    </a>
                </div><!-- end of skyscraper ad -->
                <div class="rectangle-container">
                    <a ng-href="{{rectangleAdUrl}}">
                        <img ng-src="{{rectangleAdImage}}" alt="">
                    </a>
                </div>
            </div><!-- end of col md  2 -->
        </div>
    </div><!-- end of row -->    
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="featured-header">
                <div class="her-title-container">
                    <h1>Featured In</h1>
                </div>
            </div>
            <!-- end of featured header -->
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="featured-in-section">
                <div class="featured-shelf">
                    <div class="featured-box">
                        <div class="featured-logo" ng-repeat="logo in featuredLogos">
                            <img ng-src="{{logo.url}}" alt="">
                        </div>
                        <!-- end of featured logo -->
                    </div>
                    <!-- end of featured box -->
                </div>
                <!-- end of featured shelf -->
            </div>
            <!-- end of featured section -->
        </div>
    </div>
    <!-- end of row -->
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="featured-header">
                <div class="her-title-container">
                    <h1>Meet The Founder</h1>
                </div>
            </div>
            <!-- end of featured header -->
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="meet-founder-section">
                <div class="founder-info-container">
                    <div class="founder-image-container">
                        <div class="founder-image-display">
                            <img src="{{founderImage}}" alt="">
                        </div>
                    </div>
                    <div class="founder-info">
                        <div class="founder-intro">
                            <p class="founder-name">{{founderName}}</p>
                            <p class="founder-title">{{foundersTitle}}</p>
                        </div>
                        <div class="founder-description-container">
                            <div class="founder-description" ng-bind-html=" foundersBio | to_trusted"></div>
                        </div>
                    </div>
                </div>
                <!-- end of founder info -->
            </div>
        </div>
    </div>
    <!-- end of row -->
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="featured-header">
                <div class="her-title-container">
                    <h1>Advisory Board</h1>
                </div>
            </div>
            <!-- end of featured header -->
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="advisory-board-section">
                <div class="advisory-members">
                    <div class="advisory-member" ng-repeat="advisor in advisoryMembers" ui-sref="author({id: advisor.id})">
                        <div class="advisory-member-image">
                            <div class="advisor-img-display" style="background: url({{advisor.acf.author_image.sizes.thumbnail}}) no-repeat center;"></div>
                        </div>
                        <div class="advisory-member-name">
                            <p>{{advisor.name}}</p>
                        </div>
                        <p>{{advisor.acf.job_title}}</p>
                        <p>{{advisor.acf.authors_company}}</p>
                        <p>{{advisor.acf.authors_city}}</p>
                    </div><!-- end of advisory member -->
                </div><!-- end of advisory memebers -->
            </div><!-- end of advisory board section -->
        </div><!-- end of col-md-10 -->
    </div><!-- end of row -->
</div>