<div class="carousel-section">
   <div class="container-fluid">
       <div class="row">
            <div class="wrap">
                <ul class="carousel is-set hello">
                    <li class="carousel-seat" ng-style="{'background': '(item.url) no-repeat center''}" ng-repeat="item in carouselItems" ng-class="{'is-ref': $last}">
                        <a href="#">
                            <div class="caption">
                                <!--<p>{{item.title}}</p>-->
                            </div>
                        </a>
                    </li>
                </ul><!-- end of carousel -->
            </div><!-- end of wrap -->
       </div><!-- end of row -->
   </div><!-- end of container fluid -->
</div><!-- end of carousel section -->