<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="her-title-container">
                <h1>Earnings Disclaimer</h1>
            </div>
            <!-- end of read-title-container -->
        </div><!-- end of col md 4 -->
    </div><!-- end of row -->
    <div class="row">
        <div class="col-md-12">
            <div ng-bind-html="earnings_disclaimer | to_trusted">
            </div>
        </div><!-- end of col-md-12 -->
    </div><!-- end of row -->
</div>