<div class="container-fluid">
    <div class="row footer">
        <footer>
            <div class="col-md-10 col-md-offset-1 footer-container">
                <div class="footer-links-container">
                    <div class="footer-first-link-sect">
                        <div class="about-links">
                            <h4>About Us</h4>
                            <ul>
                                <li><a href="#">the founder</a></li>
                                <li><a href="#">the company</a></li>
                            </ul>
                        </div>
                        <!-- end of about links -->
                        <div class="investor-links">
                            <h4>Investors</h4>
                            <ul>
                                <li><a href="#">press room</a></li>
                                <li><a href="#">advertise</a></li>
                            </ul>
                        </div>
                        <!-- investor links -->
                    </div><!-- end of footer first link sect -->
                    <!-- footer second link sect -->
                    <div class="footer-first-link-sect">
                        <div class="resources-link">
                            <h4>Resources</h4>
                            <ul>
                                <li><a href="#">contact us</a></li>
                                <li><a href="#">newsletter</a></li>
<!--                                <li><a href="#">giveaways</a></li>-->
                                <li><a href="#">site feedback</a></li>
                            </ul>
                        </div><!-- end of resources link -->
                    </div><!-- end of footer second link sect -->
                    <!-- footer third link sect -->
                    <div class="footer-first-link-sect">
                        <div class="resources-link">
                            <h4>Site Policy</h4>
                            <ul>
                                <li><a ng-href="/{{'privacy'}}">privacy policy</a></li>
                                <li><a ng-href="/{{'social'}}">social media policy</a></li>
                                <li><a ng-href="/{{'terms'}}">terms of use</a></li>
                                <li><a ng-href="/{{'affiliate'}}">affiliate disclaimer</a></li>
                                <li><a ng-href="/{{'dcma'}}">dcma policy</a></li>
                                <li><a ng-href="/{{'earnings'}}">earnings disclaimer</a></li>
                            </ul>
                        </div><!-- end of resources link -->
                    </div><!-- end of footer third link sect -->
                    <div class="copyright-sect">
                        
                    </div>
                </div>
                <!-- end of footer first link container -->
                <div class="updates-social-section">
                    <div class="footer-sign-up">
                        <p>SIGN UP FOR UPDATES</p>
                        <form action="" class="footer-sign-up-form">
                            <input type="email" class="footer-email-input" placeholder="Email Address">
                            <input type="button" value="SIGN UP" class="footer-sign-up-btn">
                        </form>
                    </div>
                    <div class="footer-social">
                        <div class="footer-icon-container">
                            <p>Connect With Her</p>
                            <img ng-src="{{icons.url}}" ng-repeat="icons in footer_social_icons">
                        </div><!-- end of footer icon container -->
                    </div><!-- end of footer social -->
                </div><!-- end of updates social section -->
            </div>
            <div class="col-md-10 col-md-offset-1 copyright-sect">
                <p>&copy; 2016 - watchherwork.com - All rights are reserved</p>
                <p class="sitenhance">Web Design / Development by SITENHANCE</p>
            </div>
        </footer>
    </div>    
</div>