<nav class="navbar navbar-default whw-navbar">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#">ABOUT</a></li>
            <li><a href="">VIDEOS</a></li>
            <li><a href="">ARTICLES</a></li>
            <li><a href="">EVENTS</a></li>
            <li><a href="">FOR HIM</a></li>
        </ul>
        <form class="navbar-form navbar-right" role="Search">
            <div class="form-group">
                <i class="fa fa-search whw-search-icon"></i>
                <input type="text" class="form-control whw-search" placeholder="Search">
            </div>
        </form>
    </div>
</nav>